html {
    height: 100%;
  }

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}

#backgroundinfo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
  }

  #title{
    color: #3a3a3a;
    font-size: 300%;
    font-family: 'Arial', Courier,monospace;
    font-weight:normal;
    position: absolute;
    left: 45%;
    top: 8%;
  }

  #book{
    height: 45%;
    width: auto;
    position: absolute;
    margin-right: 60%;
  

  }

  #main-holder {
    width: 45%;
    height: 55%;
    position: absolute;
    left: 40%;
    display: grid;
    justify-items: center;
    background-color: #cbc5bc;
    border-radius: 20px;
    
  }

  #book_name { 
    color: #201f1f;
    font-size: 200%;
    font-family: 'Arial', Courier,monospace;
    font-weight:normal;
    position: relative;
    align-self: center;
    top: 4%;
  } 

  #Category {
    color: #2e2b2b;
    font-size: 120%;
    font-family: 'Arial', Courier,monospace;
    font-weight:normal;
    position: relative;
    bottom: 58%;
    right: 219%;
  }

  #author {
    color: #2e2b2b;
    font-size: 120%;
    font-family: 'Arial', Courier,monospace;
    font-weight:normal;
    position: relative;
    bottom: 120%;
    right: 136%;

  }

  #publisher {
    color: #2e2b2b;
    font-size: 120%;
    font-family: 'Arial', Courier,monospace;
    font-weight:normal;
    position: relative;
    bottom: 180%;
    right: 147%;

  }

  #page {
    color: #2e2b2b;
    font-size: 120%;
    font-family: 'Arial', Courier,monospace;
    font-weight:normal;
    position: relative;
    bottom:238%;
    right: 327%;
  }
  #year{
    color: #2e2b2b;
    font-size: 120%;
    font-family: 'Arial', Courier,monospace;
    font-weight:normal;
    position: relative;
    bottom:295%;
    right: 210%;
  }

  #info{
    color: #2e2b2b;
    font-size: 100%;
    font-family: 'Arial', Courier,monospace;
    font-weight:normal;
    position: relative;
    bottom:295%;
    right: 210%;

  }
  #info-form {
    top: 5%;
    height: 90%;
    width: 70%;
    
    align-self:baseline;
    display: grid;
    position:absolute;
    left: auto;
  }



  *{
    margin: 0;
    padding: 0;
}