
html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
  }

#background_bookbrowsing_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
  }

#title{
  color: #4b1803;
  font-size: 80px;
  font-family: "Brush Script MT", cursive;;
  font-weight:normal;
  position: absolute;
  left: 42%;
  top: -2%;
  object-fit: cover;
}

#book{
  height: 60%;
  width: auto;
  position: relative;
  top: 5%; 
  align-self: center;
  object-fit: cover;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.374), 0 20px 37px 0 rgba(0, 0, 0, 0.379);  

}

#link{
  height: 80%;
  width:auto;
  position: absolute;
  top: 25%; 
  align-self: center;

}

  
#discard{
  position:absolute;
  left: 20%;
  vertical-align: middle;
  object-fit: cover;
}



#save{

  position:absolute;
  right: 20%;
  vertical-align: middle;
  object-fit: cover;
}

#alert-form {
  margin-top:10%;
  width: 60%;
  align-self: center;
  left: auto;  
  position: absolute;  
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #F5E9DB;
  border-radius: 20px;
  height: 10%;
}