
html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
  }
  
  #title{
    color: #df9861;
    font-size: 590%;
    font-family: 'DejaVu serif', Courier,monospace;
    font-weight:normal;
    position: absolute;
    left: 51%;
    top: 28%;
  }


  #backgroundloginimage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
  }


  #main-holder {
    width: 25%;
    height: 60%;
    position: absolute;
    left: 10%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #cbc5bc;
    border-radius: 20px;
    
  }
  
  #login-form {
    top: 5%;
    height: 90%;
    width: 70%;
    
    align-self: center;
    display: grid;
    position:absolute;
    left: auto;
  }

  .login-form-field::placeholder {
   
    color: #000000;
  }
  
  .login-form-field {
    height: 35%;
    width: 100%;
    position: relative;
    border: none;
    border-radius: 12px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #login-form-submit {
    width: 100%;
    height: 60%;
    padding: 11px;
    border: none;
    border-radius: 8px;
    color: #cbc5bc;
    font-weight: bold;
    font-size: large;
    background-color: #825e41;
    cursor: pointer;
    outline: none;
    
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
       -moz-appearance: checkbox;
            appearance: checkbox;
    display: inline-block;
    width: fit-content;
  }

  #create_account{
    height: fit-content;
    width: fit-content;

    position: absolute; 
    right: 0%; 
    bottom: 1%; 
    
    border: none;
    border-radius: 5px;

    background-color: #825e41;
    color: #cbc5bc;

    font-size: medium;

  }