html {
  height: 100%;
}

#backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-attachment: fixed;
    background-repeat: repeat;
  }

#HeadTitle{
  color: #4b1803;
  font-size: 80px;
  font-family: "Brush Script MT", cursive;;
  font-weight:normal;
  position: absolute;
  left: 42%;
  top: -2%;
  object-fit: cover;
  cursor: default;
}

#book1 {
  width: 9%;
  height: 24%;
   position: absolute;
   top: 26%;
   right: 62%;
   object-fit: cover;
 }

#book2 {
  width: 9%;
  height: 24%;
  position: absolute;
  top: 26%;
  right: 51%;
  object-fit: cover;
 }
 #book3 {
  width: 9%;
  height: 24%;
  position: absolute;
  top: 26%;
  right: 40%;
  object-fit: cover;
 }
 #book4 {
   width: 9%;
   height: 24%;
   position: absolute;
   top: 26%;
   right: 29%;
   object-fit: cover;
 }
 #book5 {
   width: 9%;
   height: 24%;
   position: absolute;
   top: 54.5%;
   right: 62%;
   object-fit: cover;
 }
 #book6 {
   width: 9%;
   height: 24%;
   position: absolute;
   top: 54.5%;
   right: 51%;
   object-fit: cover;
 }
 #book7 {
   width: 9%;
   height: 24%;
   position: absolute;
   top: 54.5%;
   right: 40%;
   object-fit: cover;
 }
 #book8 {
   width: 9%;
   height: 24%;
   position: absolute;
   top: 54.5%;
   right: 29%;
   object-fit: cover;
 }
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}

#line{
 border-top: 5px solid #4b1803;
 border-bottom: 5px solid #4b1803;
 border-left: 0ch;
 border-right: 0ch;
 position: absolute;
 width: 45%;
 height: 28%;
 margin-top: 0%;
 size: 20; 
 margin-right: 10%;  
 margin-left: 10%;
 object-fit: cover;
}

#div1{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20%;
  position:absolute;
  margin: auto;
}

#div2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin: auto;
}
#divi{
  justify-content: space-evenly;
}
#a1{
  text-decoration: none;
  color: #4b1803;
  background: #f5e9db;
  padding: 10px 18px;
  border-radius: 40%;  
  font-size: 120%;
  position:absolute;
  left: 20%;
  vertical-align: middle;
  object-fit: cover;
}
#a1:hover{
  background: #81420e; 
}
#a1:focus{
  outline: 3px solid rgb(27, 15, 0);
}

#a2{
  text-decoration: none;
  color: #4b1803;
  background: #f5e9db;
  padding: 8px 18px;
  border-radius: 40%;  
  font-size: 120%;
  position:absolute;
  right: 20%;
  vertical-align: middle;
  object-fit: cover;
}
#a2:hover{
 background: #81420e; 
}
#a2:focus{
 outline: 3px solid rgb(27, 15, 0);
}

.btn {
  border: 1px outset rgb(68, 31, 6);
  background-color: #f5e9db;
  height:68%;
  width:28%;
  cursor:pointer;
  border-radius: 50%;
  position:absolute;
  vertical-align: middle;
  object-fit: cover;
}
.btn1{
  top: 8%;
  left:2%;
}
.btn2{
  top: 8%;
  left:36%;
  background-color: #52300c;/*when library button is pressed*/
}

.btn3{
  top: 8%;
  right:2%;
}
.btn1 img {
  border-radius: 50%;
  display: inline-block;
  height: 80%;  
  width: 90%;
}

.btn2 img {
  border-radius: 50%;
  display:inline-block;
  height: 80%;  
  width: 90%;
  filter: brightness(80%);/*when library button is pressed*/
}
.btn3 img {
  border-radius: 50%;
  display: inline-block;
  height: 80%;  
  width: 90%;
}

.btn:hover {
  background-color: rgb(214, 204, 199);
  color:#81420e;
}

.btn:focus{
  outline: 3px solid rgb(68, 31, 6);
}
#abtn:link {
 background-color: transparent;
 text-decoration: none;
}
#abtn:visited {
  background-color: transparent;
  text-decoration: none;
}

#alert-form {
  top: 5%;
    
  width: 70%;
  background-color: #81420e;
  align-self: center;
  position:relative;
  left: auto;
}